
.container{
    display: inline-block;
    text-align: center;
}

.container_img{
    position: relative;
    text-align: center;
}
.sub_tittle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
    text-align: center;

}
.img{
    width: 100%;
    height: 100%;
    z-index: 0;
}
 .arrow {
    position: absolute;
    text-align: center;
	width: 75px;
  height: 65px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.more_arrows {
    width: 75px;
    height: 65px;
}
.more_arrows:hover polygon {
    transition: all 0.2s ease-out;
}
.more_arrows:hover .arrow_bottom {
    transform: translateY(-18px);
}

.more_arrows:hover .arrow_top {
    transform: translateY(18px);
}
polygon {
    fill: #333;
    transition: all 0.2s ease-out;
}
.arrow_middle {
    opacity: 0.75;
}
.arrow_top {
    opacity: 0.5;
}